<ion-header>
  <ion-toolbar cololr="primary">
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" [(ngModel)]="post.title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Details</ion-label>
    <ion-input type="text" [(ngModel)]="post.detail" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" shape="round" (click)="create(post)">
    create</ion-button>
  

</ion-content>
